<h2>Add a game</h2>
<% players_array = Player.all.map {|player| [player.name, player.id] } %>
<%= link_to "Back to games", games_url %>
<div class="aligngames">
  <%= render 'form', game: @game %>
</div>
